:root {
    --accent: rgba(188, 171, 222, 0.25);
}

html {
    width: 500px;
    overflow: hidden;
}
body {
    font-family: "Segoe UI", sans-serif;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: "Segoe UI Light", sans-serif;
    margin: 0;
}

#summary {
    margin: 20px 18%;
    padding: 20px;
    background-color: #BCABDE3F;
    border-radius: 10px;
    font-size: 13px;
}

#chart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-arrow {
    padding: 10px;
    background-color: var(--accent);
    color: #383838;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
}
.chart-arrow:hover {
    background-color: #d9cfcf;
}
.chart-arrow:active {
    background-color: #bebebe;
}

#chart {
    flex-grow: 1;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#toast {
    width: inherit;
    height: 30px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: fixed;
    top: -70px;

    color: #d0c7c7;
    background-color: #620000;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    transition: top 0.3s ease-in-out;
}

#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 15px;
    display: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(32px);
    transition: backdrop-filter 0.3s linear;
    pointer-events: none;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 0.5s ease-out;
}
